
.msg-status{
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.msg-success{
    color: rgb(87, 196, 87) !important;
    font-family: "Josefin Sans", sans-serif;
}

.msg-failure{
    color:  #ff8a00 !important;
  
}

.warning-msg{
    margin-top: 3px;
    display: none;
    font-size: 0.9rem;
    font-family: "Josefin Sans", sans-serif;
    color: #ff8a00;
    
    text-align: right;
    padding: 0 15px;
    word-spacing: 3px;
   
}


